CONFIG_PATH = /Users/ryanlattanzi/Desktop/projects/trading_app/algo_trading/config/config.yml

POSTGRES_USER=dev
POSTGRES_PASSWORD=password
POSTGRES_DB=price_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=redispassword

MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password